
@{
    ViewBag.Title = "Logoff";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sistema toque</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <link href="~/dist/css/personalizado.css" rel="stylesheet" />

</head>
<body class="hold-transition login-page">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">

            <div class="login-box">
                <!-- /.login-logo -->
                <div class="card card-outline card-primary">
                    <div class="card-header text-center">
                        <img class="mb-2" src="~/img/logo.png" oncontextmenu="return false" width="150" height="70" />
                        <br>
                        <h5>Sistema de Toque</h5>
                    </div>
                    <div class="card-body">
                        <p class="login-box-msg">Obrigado por acessar o sistema.</p>
                        <p class="login-box-msg">Para acessar novamente, clique no botão abaixo.</p>
                        <div class="row">
                            <div class="col-12">
                                <a href="~/Home/Login" class="btn btn-primary btn-block" title="Iniciar sessão" alt="Iniciar sessão">
                                    <i class="fa fa-sign-in-alt"></i> &nbsp; Entrar 
                                </a>
                            </div>
                            <!-- /.col -->
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>

    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>

</body>
</html>