@model SistemaToque.Models.CadastroModel

@{
    ViewBag.Title = "Toque";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- daterange picker -->
    <link rel="stylesheet" href="~/plugins/daterangepicker/daterangepicker.css">
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Bootstrap Color Picker -->
    <link rel="stylesheet" href="~/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <!-- Bootstrap4 Duallistbox -->
    <link rel="stylesheet" href="~/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css">
    <!-- BS Stepper -->
    <link rel="stylesheet" href="~/plugins/bs-stepper/css/bs-stepper.min.css">
    <!-- dropzonejs -->
    <link rel="stylesheet" href="~/plugins/dropzone/min/dropzone.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css" />
    <link href="~/dist/css/personalizado.css" rel="stylesheet" />
</head>
<body class="hold-transition sidebar-mini bg-body">
    <div class="wrapper">
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="" class="brand-link">
                <img src="~/dist/img/logo.png" alt="" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">Sistema Toque</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="~/dist/img/user.jpg" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="" class="d-block">Usuário</a>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-header">MENU</li>
                        <li class="nav-item">
                            <a href="~/Home/Toques" class="nav-link">
                                <i class="nav-icon fas fa-music"></i>
                                <p>
                                    Toques
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="~/Home/Toque" class="nav-link active">
                                <i class="nav-icon fas fa-cog"></i>
                                <p>
                                    Configurações
                                </p>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <!-- Configurações -->
                    <div class="card card-default">
                        <div class="card-header">
                            <h3 class="card-title"><b>Configurações</b></h3>
                        </div>
                        <!-- /.card-header -->
                        @using (Html.BeginForm("CadastrarToque", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="form-group row">
                                            <label class="col-2 col-form-label">Descrição:</label>
                                            <div class="col-10">
                                                <input type="text" class="form-control" id="Nome" name="Nome" placeholder="Informe aqui o nome do toque" required>
                                            </div>
                                        </div>

                                        @*<dkiv class="form-group row">
                                            <label class="col-3 col-form-label">Carrege o seu arquivo:</label>
                                            <div class="col-9">
                                                <div class="input-group">
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" id="files" name="files[]" accept="audio/mp3,audio/*" required>
                                                        <label class="custom-file-label" for="files">Escolher arquivo</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </dkiv>*@

                                        <div class="form-group row">
                                            <label class="col-3 col-form-label">Carrege o seu arquivo:</label>
                                            <div class="col-9">
                                                <div class="input-group">
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" id="file" name="fileupload" accept="audio/mp3,audio/*" required>
                                                        <label class="custom-file-label" for="file">Escolher arquivo</label>
                                                    </div>

                                                    &nbsp;&nbsp;&nbsp;

                                                    <button class="btn btn-primary" onclick="upload()" type="button">Upload</button>
                                                </div>
                                            </div>

                                        </div>

                                        <div id="song"></div>

                                        <div class="form-group row">
                                            <label for="example-time-input" class="col-1 col-form-label">Hora:</label>
                                            <div class="col-11">
                                                <input class="form-control" type="time" value="13:45:00" id="Hora" name="Hora">
                                            </div>
                                        </div>

                                        <div class="row">
                                            <label for="example-time-input" class="col-form-label">Selecione o dia da semana:</label>
                                        </div>

                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="1" id="IsSegunda" name="IsSegunda" checked>
                                                    <label class="form-check-label" for="cb_1">
                                                        Segunda
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="1" id="IsTerca" name="IsTerca" checked>
                                                    <label class="form-check-label" for="cb_2">
                                                        Terça
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="1" id="IsQuarta" name="IsQuarta" checked>
                                                    <label class="form-check-label" for="cb_3">
                                                        Quarta
                                                    </label>
                                                </div>
                                            </div>
                                            <!-- /.col -->
                                            <div class="col-4">

                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="1" id="IsQuinta" name="IsQuinta" checked>
                                                    <label class="form-check-label" for="cb_4">
                                                        Quinta
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="1" id="IsSexta" name="IsSexta" checked>
                                                    <label class="form-check-label" for="cb_5">
                                                        Sexta
                                                    </label>
                                                </div>
                                            </div>
                                            <!-- /.col -->
                                            <div class="col-4">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="1" id="IsSabado" name="IsSabado">
                                                    <label class="form-check-label" for="cb_6">
                                                        Sábado
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="1" id="IsDomingo" name="IsDomingo">
                                                    <label class="form-check-label" for="cb_7">
                                                        Domingo
                                                    </label>
                                                </div>
                                            </div>
                                            <!-- /.col -->
                                            <div class="col-12">
                                                <div class="txt-validation-2">
                                                    Selecione pelo menos um dia da semana para criar o seu novo toque
                                                </div>
                                            </div>
                                            <!-- /.col -->
                                        </div>

                                        <div class="row">
                                            <label for="" class="col-form-label">Tipo de ensino:</label>
                                        </div>

                                        <form>
                                            <fieldset class="form-group">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="Ensino" id="Ensino" value="1" checked>
                                                            <label class="form-check-label" for="Ensino"> Fundamental I </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="Ensino" id="Ensino" value="2">
                                                            <label class="form-check-label" for="Ensino"> Fundamental II </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="Ensino" id="Ensino" value="3">
                                                            <label class="form-check-label" for="Ensino"> Médio </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </form>

                                        <div class="row">
                                            <div class="col-9">
                                            </div>
                                            <!-- /.col -->
                                            <div class="col-3">
                                                <button type="submit" class="btn btn-primary btn-block">Salvar</button>
                                            </div>
                                            <!-- /.col -->
                                        </div>

                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->
                            </div>
                        }
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Select2 -->
    <script src="~/plugins/select2/js/select2.full.min.js"></script>
    <!-- Bootstrap4 Duallistbox -->
    <script src="~/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
    <!-- InputMask -->
    <script src="~/plugins/moment/moment.min.js"></script>
    <script src="~/plugins/inputmask/jquery.inputmask.min.js"></script>
    <!-- date-range-picker -->
    <script src="~/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap color picker -->
    <script src="~/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Bootstrap Switch -->
    <script src="~/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    <!-- BS-Stepper -->
    <script src="~/plugins/bs-stepper/js/bs-stepper.min.js"></script>
    <!-- dropzonejs -->
    <script src="~/plugins/dropzone/min/dropzone.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/dist/js/demo.js"></script>
    <!-- Page specific script -->
    @*nome do arquivo sendo mostrado na seleção da música*@
    <script>
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>

    @* Configuração do audio *@
    <script>
        document.getElementById("player").controls = true;  // Controles de play, pause, volume e download
        document.getElementById("player").volume = 1;       // Volume - Ex.: 0.1 , 0.25, 0.5, 0.9, 1
        document.getElementById("player").loop = true;      // Loop = True (Ligado), false (Desligado)
        document.getElementById("player").currentTime = 0;  // Tempo de início da música
        //document.getElementById("player").play();         // Play automático na música
    </script>

    @* Script Upload arquivo de áudio *@
    <script>
        const upload = () => {
            var url;
            var file = document.querySelector("#file").files[0];
            var reader = new FileReader();
            reader.onload = function (evt) {
                url = evt.target.result;
                console.log(url);
                var sound = document.createElement("audio");
                var link = document.createElement("source");
                sound.id = "audio-player";
                sound.controls = "controls";
                link.src = url;
                sound.type = "audio/mpeg";
                sound.appendChild(link);
                document.getElementById("song").appendChild(sound);
            };
            reader.readAsDataURL(file);
        };
    </script>

</body>
</html>