@model SistemaToque.Models.CadastroModel

@{
    ViewBag.Title = "Toque";
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sistema de Toque</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.css">
    <link href="~/dist/css/personalizado.css" rel="stylesheet" />
</head>

<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed sidebar-collapse">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="~/Home/Toques" class="nav-link">Home</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="~/Home/Toque" class="nav-link">Add um novo toque</a>
                </li>
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Botão para expandir a tela -->
                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-3">
            <!-- Brand Logo -->
            <a href="~/Home/Toques" class="brand-link">
                <img src="~/dist/img/logo.png" alt="Sistema de Toque" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">Sistema de Toque</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="~/dist/img/user.jpg" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">Usuário</a>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item">
                            <a href="~/Home/Toques" class="nav-link">
                                <i class="nav-icon fas fa-music"></i>
                                <p>
                                    Toques
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="~/Home/Toque" class="nav-link active">
                                <i class="nav-icon fas fa-plus"></i>
                                <p>
                                    Add um novo toque
                                </p>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Adicionar um novo toque</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="~/Home/Toques">Home</a></li>
                                <li class="breadcrumb-item active">Adicionar um novo toque</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">

                                <div class="card-header">
                                    <h5 class="card-title"><b>Configuração do novo toque</b></h5>
                                </div>
                                <!-- /.card-header -->

                                @using (Html.BeginForm("Toque", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {


                                    <div class="card-body">
                                        <div class="form-row">
                                            <div class="col-md-3 mb-3">
                                                <label>Descrição:</label>
                                                @if (Model != null)
                                                {
                                                    <input type="text" class="form-control" id="Nome" name="Nome" value="@Model.Nome" placeholder="Informe aqui o nome do toque" required>
                                                }
                                                else
                                                {
                                                    <input type="text" class="form-control" id="Nome" name="Nome" placeholder="Informe aqui o nome do toque" required>
                                                }
                                            </div>
                                            <div class="col-md-5 mb-3">
                                                <label>Arquivo:</label>
                                                <div class="input-group">
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" id="file" name="fileupload" accept="audio/mp3,audio/*" required>
                                                        <label class="custom-file-label" for="file">Escolher arquivo</label>
                                                    </div>

                                                    &nbsp;&nbsp;&nbsp;

                                                    <button class="btn btn-primary" onclick="upload()" id="uploadBtn" name="uploadBtn" type="button">Upload</button>
                                                </div>
                                            </div>
                                            <div class="col-md-4 mb-3">
                                                <label>&nbsp;</label>
                                                <div id="song"></div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-3 mb-3">
                                                <label>Segundos para início da música:</label>
                                                @if (Model != null)
                                                {
                                                    <select class="form-control" id="StartSegs" name="StartSegs">
                                                        <option value="@Model.StartSegs">@Model.StartSegs</option>
                                                        <option value="00:00:00">00</option>
                                                        <option value="00:00:01">01</option>
                                                        <option value="00:00:02">02</option>
                                                        <option value="00:00:03">03</option>
                                                        <option value="00:00:04">04</option>
                                                        <option value="00:00:05">05</option>
                                                        <option value="00:00:06">06</option>
                                                        <option value="00:00:07">07</option>
                                                        <option value="00:00:08">08</option>
                                                        <option value="00:00:09">09</option>
                                                        <option value="00:00:10">10</option>
                                                        <option value="00:00:11">11</option>
                                                        <option value="00:00:12">12</option>
                                                        <option value="00:00:13">13</option>
                                                        <option value="00:00:14">14</option>
                                                        <option value="00:00:15">15</option>
                                                        <option value="00:00:16">16</option>
                                                        <option value="00:00:17">17</option>
                                                        <option value="00:00:18">18</option>
                                                        <option value="00:00:19">19</option>
                                                        <option value="00:00:20">20</option>
                                                        <option value="00:00:21">21</option>
                                                        <option value="00:00:22">22</option>
                                                        <option value="00:00:23">23</option>
                                                        <option value="00:00:24">24</option>
                                                        <option value="00:00:25">25</option>
                                                        <option value="00:00:26">26</option>
                                                        <option value="00:00:27">27</option>
                                                        <option value="00:00:28">28</option>
                                                        <option value="00:00:29">29</option>
                                                        <option value="00:00:30">30</option>
                                                        <option value="00:00:31">31</option>
                                                        <option value="00:00:32">32</option>
                                                        <option value="00:00:33">33</option>
                                                        <option value="00:00:34">34</option>
                                                        <option value="00:00:35">35</option>
                                                        <option value="00:00:36">36</option>
                                                        <option value="00:00:37">37</option>
                                                        <option value="00:00:38">38</option>
                                                        <option value="00:00:39">39</option>
                                                        <option value="00:00:40">40</option>
                                                        <option value="00:00:41">41</option>
                                                        <option value="00:00:42">42</option>
                                                        <option value="00:00:43">43</option>
                                                        <option value="00:00:44">44</option>
                                                        <option value="00:00:45">45</option>
                                                        <option value="00:00:46">46</option>
                                                        <option value="00:00:47">47</option>
                                                        <option value="00:00:48">48</option>
                                                        <option value="00:00:49">49</option>
                                                        <option value="00:00:50">50</option>
                                                        <option value="00:00:51">51</option>
                                                        <option value="00:00:52">52</option>
                                                        <option value="00:00:53">53</option>
                                                        <option value="00:00:54">54</option>
                                                        <option value="00:00:55">55</option>
                                                        <option value="00:00:56">56</option>
                                                        <option value="00:00:57">57</option>
                                                        <option value="00:00:58">58</option>
                                                        <option value="00:00:59">59</option>
                                                        <option value="00:00:60">60</option>
                                                    </select>
                                                }
                                                else
                                                {
                                                    <select class="form-control" id="StartSegs" name="StartSegs">
                                                        <option value="00:00:00">00</option>
                                                        <option value="00:00:01">01</option>
                                                        <option value="00:00:02">02</option>
                                                        <option value="00:00:03">03</option>
                                                        <option value="00:00:04">04</option>
                                                        <option value="00:00:05">05</option>
                                                        <option value="00:00:06">06</option>
                                                        <option value="00:00:07">07</option>
                                                        <option value="00:00:08">08</option>
                                                        <option value="00:00:09">09</option>
                                                        <option value="00:00:10">10</option>
                                                        <option value="00:00:11">11</option>
                                                        <option value="00:00:12">12</option>
                                                        <option value="00:00:13">13</option>
                                                        <option value="00:00:14">14</option>
                                                        <option value="00:00:15">15</option>
                                                        <option value="00:00:16">16</option>
                                                        <option value="00:00:17">17</option>
                                                        <option value="00:00:18">18</option>
                                                        <option value="00:00:19">19</option>
                                                        <option value="00:00:20">20</option>
                                                        <option value="00:00:21">21</option>
                                                        <option value="00:00:22">22</option>
                                                        <option value="00:00:23">23</option>
                                                        <option value="00:00:24">24</option>
                                                        <option value="00:00:25">25</option>
                                                        <option value="00:00:26">26</option>
                                                        <option value="00:00:27">27</option>
                                                        <option value="00:00:28">28</option>
                                                        <option value="00:00:29">29</option>
                                                        <option value="00:00:30">30</option>
                                                        <option value="00:00:31">31</option>
                                                        <option value="00:00:32">32</option>
                                                        <option value="00:00:33">33</option>
                                                        <option value="00:00:34">34</option>
                                                        <option value="00:00:35">35</option>
                                                        <option value="00:00:36">36</option>
                                                        <option value="00:00:37">37</option>
                                                        <option value="00:00:38">38</option>
                                                        <option value="00:00:39">39</option>
                                                        <option value="00:00:40">40</option>
                                                        <option value="00:00:41">41</option>
                                                        <option value="00:00:42">42</option>
                                                        <option value="00:00:43">43</option>
                                                        <option value="00:00:44">44</option>
                                                        <option value="00:00:45">45</option>
                                                        <option value="00:00:46">46</option>
                                                        <option value="00:00:47">47</option>
                                                        <option value="00:00:48">48</option>
                                                        <option value="00:00:49">49</option>
                                                        <option value="00:00:50">50</option>
                                                        <option value="00:00:51">51</option>
                                                        <option value="00:00:52">52</option>
                                                        <option value="00:00:53">53</option>
                                                        <option value="00:00:54">54</option>
                                                        <option value="00:00:55">55</option>
                                                        <option value="00:00:56">56</option>
                                                        <option value="00:00:57">57</option>
                                                        <option value="00:00:58">58</option>
                                                        <option value="00:00:59">59</option>
                                                        <option value="00:00:60">60</option>
                                                    </select>
                                                }
                                            </div>
                                            <div class="col-md-3 mb-3">
                                                <label>Hora de início do toque:</label>
                                                @if (Model != null)
                                                {
                                                    <input class="form-control" type="time" value="@Model.Hora" id="Hora" name="Hora">
                                                }
                                                else
                                                {
                                                    <input class="form-control" type="time" value="13:45:00" id="Hora" name="Hora">
                                                }
                                            </div>
                                            <div class="col-md-4 mb-3">
                                                <label>Dias da semana:</label>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="True" id="IsSegunda" name="IsSegunda" checked>
                                                            <label class="form-check-label" for="cb_1">
                                                                Segunda
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="True" id="IsTerca" name="IsTerca" checked>
                                                            <label class="form-check-label" for="cb_2">
                                                                Terça
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="True" id="IsQuarta" name="IsQuarta" checked>
                                                            <label class="form-check-label" for="cb_3">
                                                                Quarta
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="True" id="IsQuinta" name="IsQuinta" checked>
                                                            <label class="form-check-label" for="cb_4">
                                                                Quinta
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="True" id="IsSexta" name="IsSexta" checked>
                                                            <label class="form-check-label" for="cb_5">
                                                                Sexta
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="True" id="IsSabado" name="IsSabado">
                                                            <label class="form-check-label" for="cb_6">
                                                                Sábado
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="True" id="IsDomingo" name="IsDomingo">
                                                            <label class="form-check-label" for="cb_7">
                                                                Domingo
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 mb-3">
                                                <label>Tipo de ensino selecionado:</label>
                                                <div class="col-sm-12">
                                                    @*<div class="form-check">
                                                            <input class="form-check-input" type="radio" name="Ensino" id="Ensino" value="1" checked>
                                                            <label class="form-check-label" for="Ensino"> Fund I </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="Ensino" id="Ensino" value="2">
                                                            <label class="form-check-label" for="Ensino"> Fund II </label>
                                                        </div>*@
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="Ensino" id="Ensino" value="3" checked>
                                                        <label class="form-check-label" for="Ensino"> Médio </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.form-row -->

                                        <div class="row">
                                            <div class="col-9">
                                            </div>
                                            <!-- /.col -->
                                            <div class="col-3">
                                                <button type="submit" class="btn btn-primary btn-block" onclick="validate()">Salvar</button>
                                            </div>
                                            <!-- /.col -->
                                        </div>

                                    </div>
                                    <!-- ./card-body -->
                                }
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.container-fluid -->
                    </div>
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <strong>Copyright &copy; 1972 - 2021 <a href="https://ceinet.com.br">CEI</a>.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 09.03.21 - AM - 1.0
            </div>
        </footer>
        <!-- /.Main Footer -->

    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.js"></script>

    <!-- PAGE ~/plugins -->
    <!-- jQuery Mapael -->
    <script src="~/plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
    <script src="~/plugins/raphael/raphael.min.js"></script>
    <script src="~/plugins/jquery-mapael/jquery.mapael.min.js"></script>
    <script src="~/plugins/jquery-mapael/maps/usa_states.min.js"></script>
    <!-- ChartJS -->
    <script src="~/plugins/chart.js/Chart.min.js"></script>

    <!-- AdminLTE for demo purposes -->
    <script src="~/dist/js/demo.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/dist/js/pages/dashboard2.js"></script>

    @*Nome do arquivo sendo mostrado na seleção da música*@
    <script>
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>

    @* Configuração do audio *@
    <script>
        document.getElementById("player").controls = true;  // Controles de play, pause, volume e download
        document.getElementById("player").volume = 1;       // Volume - Ex.: 0.1 , 0.25, 0.5, 0.9, 1
        document.getElementById("player").loop = true;      // Loop = True (Ligado), false (Desligado)
        document.getElementById("player").currentTime = 0;  // Tempo de início da música
        //document.getElementById("player").play();         // Play automático na música
    </script>

    @* Script Upload arquivo de áudio *@
    <script>
        const upload = () => {
            var url;
            var file = document.querySelector("#file").files[0];
            var reader = new FileReader();
            reader.onload = function (evt) {
                url = evt.target.result;
                console.log(url);
                var sound = document.createElement("audio");
                var link = document.createElement("source");
                sound.id = "audio-player";
                sound.controls = "controls";
                link.src = url;
                sound.type = "audio/mpeg";
                sound.appendChild(link);
                document.getElementById("song").appendChild(sound);
            };
            reader.readAsDataURL(file);
            uploadBtn.setAttribute('disabled', 'disabled');
        };
    </script>

    @* Script validação checkboxs *@
    <script type="text/javascript">
        function validate() {
            if ((document.getElementById('IsSegunda').checked) ||
                (document.getElementById('IsTerca').checked) ||
                (document.getElementById('IsQuarta').checked) ||
                (document.getElementById('IsQuinta').checked) ||
                (document.getElementById('IsSexta').checked) ||
                (document.getElementById('IsSabado').checked) ||
                (document.getElementById('IsDomingo').checked)) {
            } else {
                alert("Selecione pelo menos um dia da semana para criar o seu novo toque");
            }
        }
    </script>

</body>
</html>
